---
layout: default
---

<div class="main">
	{% for post in paginator.posts %}
		<article>
			<h2 class="article-title">
				<a href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a>
			</h2>

			<div class="article-top-meta">
				<span class="posted-on">
					<time class="entry-date published" datetime="{{ post.date | date_to_xmlschema }}">
						{{ post.date | date: "%b %-d, %Y" }}
					</time>
				</span>
			</div>

			<div class="article-content">
				{{ post.excerpt }}
			</div>
		</article>
	{% endfor %}
</div>

<div class="pagination">
	{% if paginator.previous_page %}
		<a href="{{ paginator.previous_page_path }}" class="previous"><span class="chevron chevron-left"></span> Previous</a>
	{% else %}
		<span class="previous"><span class="chevron chevron-left"></span> Previous</span>
	{% endif %}
	<span class="page-number">Page: {{ paginator.page }} of {{ paginator.total_pages }}</span></span>
	{% if paginator.next_page %}
		<a href="{{ paginator.next_page_path }}" class="next">Next <span class="chevron chevron-right"></a>
	{% else %}
		<span class="next">Next <span class="chevron chevron-right"></span></span>
	{% endif %}
</div>