---
layout: default
---

<div class="main">
	<article itemscope itemtype="http://schema.org/BlogPosting">

		<h2 class="article-title">
			{{ page.title }}
		</h2>

		<div class="article-top-meta">
			<span class="posted-on">
				<time class="entry-date published" datetime="{{ page.date | date_to_xmlschema }}">
						{{ page.date | date: "%b %-d, %Y" }}
					</time>
			</span>
		</div>

		<div class="article-content">
			{{ content }}
		</div>

		{% if page.issue_id != nil %}
		<hr>
		<div class="article-comments">
			<h3>Comments</h3>
			<p>Powered by <a href="https://github.com/shadowfacts/shadowfacts.github.io/issues/{{ page.issue_id }}">GitHub</a></p>
			<noscript>
				<p>JavaScript is required to view or post comments inline.</p>
			</noscript>
			<div class="post-comment">
				<form action="https://comments.shadowfacts.net/" method="post" id="comment-form">
					<input type="hidden" name="url" value="{{ site.url }}{{ page.url }}">
					<input type="hidden" name="issue" value="{{ page.issue_id }}">
					<textarea name="comment" placeholder="Leave a comment..." id="comment-body"></textarea>
					<input type="submit" value="Submit" id="comment-submit">
				</form>
			</div>
			<div class="comments-list"></div>
		</div>
		{% endif %}

	</article>

	<div id="rpi-progress-bar-container" role="progressbar" aria-valuemin="0" aria-valuemax="100" aria-valuenow="0">
		<div class="rpi-progress-bar-container__position" aria-hidden="true"></div>
		<div class="rpi-progress-bar-container__percentage"></div>
	</div>
</div>

{% if page.issue_id != nil %}
<script>
	"use strict";
	const issueId = "{{ page.issue_id }}";
</script>
<script src="/js/comments.js"></script>
{% endif %}

<script src="/js/progress.js"></script>