---
layout: default
---

<div class="main">
	<article class="no-rule">

		<h2 class="article-title">
			{{ page.title }}
		</h2>

		<br>

		{% for tutorial in site.tutorials %}
			{% if tutorial.series == page.series-name %}

				<article>
					<h2 class="article-title">
						<a href="{{ tutorial.url | prepend: site.baseurl }}">{{ tutorial.title }}</a>
					</h2>

					<div class="article-top-meta">
						<span class="posted-on">
							<time class="entry-date published" datetime="{{ tutorial.date | date_to_xmlschema }}">
								{{ tutorial.date | date: "%b %-d, %Y" }}
							</time>
						</span>
					</div>
				</article>

			{% endif %}
		{% endfor %}

	</article>
</div>